<div class="header">
  <div class="griddle"></div>
  <div class="header-video">
    <div class="intro-header">
      <h1>MALFARIO</h1>
      <img class="mask-header" src="images/03.png" alt="">
    </div>
  </div>


  <ul class="basic-menu">
    <a href="#nuevoNumero"><li>NUEVO NÚMERO</li></a>
    <a href="#autores"><li>AUTORES 2017</li></a>
    <a href="#paginas"><li>PÁGINAS</li></a>
    <a href="#contacto"><li>CONTACTO</li></a>
  </ul>


  <div class="intro-description">

    <p>CREO QUE TENGO SUERTE CREO QUE TENGO SUERTE CUANDO LA TENGO ¿LA SUERTE SE BUSCA?¿SE TIENE? O SE ENCUENTRA ¿Y EL MIEDO?</p>
  </div>
</div>
