<div class="header">
  <div class="griddle"></div>
  <div class="header-video">
  <h1>MALFARIO</h1>
    <video class="mi-video" autoplay="autoplay" loop>
      <source src="images/video.mp4" type="video/ogg"></source>
    </video>
  </div>

  <div class="intro-description">
    <img src="images/03.png" alt="">
    <p>CREO QUE TENGO SUERTE</p>
    <p>CREO QUE TENGO SUERTE CUANDO LA TENGO</p>
    <p>¿LA SUERTE SE BUSCA?¿SE TIENE?</p>
    <p>O SE ENCUENTRA</p>
    <p>¿Y EL MIEDO?</p>
  </div>
</div>
