<div class="container-project">
  <p>PARA NUESTRA NUEVA EDICIÓN</p>
</div>

<div class="griddle"></div>
<p class="text-profile">AUTORES DEL NUEVO NÚMERO DE MALFARIO</p>

<div class="container-artists">
  <div class="container-profile">
    <img class="profile-image" src="images/joseph.png" alt="">
    <p>JOSEPH O'BOYLE </p>
    <div class="container-social-logo">
      <img class="social-logo" src="images/facebook.png" alt="">
      <img class="social-logo" src="images/logo-de-instagram.png" alt="">
    </div>
  </div>
</div>

<div class="container-artists">
  <div class="container-profile">
    <img class="profile-image" src="images/joseph.png" alt="">
    <p>JOSEPH O'BOYLE </p>
    <div class="container-social-logo">
      <img class="social-logo" src="images/facebook.png" alt="">
      <img class="social-logo" src="images/logo-de-instagram.png" alt="">
    </div>
  </div>
</div>

<div class="griddle"></div>
