<div class="container-project">
  <p>PARA NUESTRA NUEVA EDICIÓN</p>
</div>

<div class="griddle"></div>
<p class="text-profile">AUTORES DEL NUEVO NÚMERO DE MALFARIO</p>


<div class="container-artists">
  <div class="container-profile">
    <img class="profile-image" src="images/joseph.png" alt="">
    <p>JOSEPH O'BOYLE</p>
    <div class="container-social-logo">
      <a href="https://www.instagram.com/_joeoboyle_/"><img class="social-logo" src="images/logo-de-instagram.png" alt=""></a>
    </div>
  </div>



  <div class="container-profile">
    <img class="profile-image" src="images/michopocho.png" alt="">
    <p>MICHOPOCHO</p>
    <div class="container-social-logo">
      <a href="https://www.facebook.com/soymichopocho"><img class="social-logo" src="images/facebook.png" alt=""></a>
      <a href="https://www.instagram.com/michopocho/"><img class="social-logo" src="images/logo-de-instagram.png" alt=""></a>
    </div>
  </div>



  <div class="container-profile">
    <a href="http://gualtrapa.sexy/"><img class="profile-image" src="images/sama.png" alt=""></a>
    <p>SAMA</p>
    <div class="container-social-logo">
      <a href="https://www.facebook.com/gualtrapacomics"><img class="social-logo" src="images/facebook.png" alt=""></a>
      <a href="https://twitter.com/GualtrapaComics"><img class="social-logo" src="images/twitter.png" alt=""></a>
    </div>
  </div>


</div>

<div class="griddle"></div>
