<div class="container-project">
  <p>EDICIÓN 2016</p>
</div>

<div class="griddle"></div>
<p class="text-profile">AUTORES</p>

<div class="container-artists">
  <div class="container-profile">
    <img class="profile-image" src="images/profile.png" alt="">
    <p>VICTOR PONCE</p>
    <div class="container-social-logo">
      <img class="social-logo" src="images/profile.png" alt="">
      <img class="social-logo" src="images/profile.png" alt="">
    </div>
  </div>

  <div class="container-profile">
    <img class="profile-image" src="images/profile.png" alt="">
    <p>VICTOR PONCE</p>
    <div class="container-social-logo">
      <img class="social-logo" src="images/profile.png" alt="">
      <img class="social-logo" src="images/profile.png" alt="">
    </div>
  </div>

  <div class="container-profile">
    <img class="profile-image" src="images/profile.png" alt="">
    <p>VICTOR PONCE</p>
    <div class="container-social-logo">
      <img class="social-logo" src="images/profile.png" alt="">
      <img class="social-logo" src="images/profile.png" alt="">
    </div>
  </div>

  <div class="container-profile">
    <img class="profile-image" src="images/profile.png" alt="">
    <p>VICTOR PONCE</p>
    <div class="container-social-logo">
      <img class="social-logo" src="images/profile.png" alt="">
      <img class="social-logo" src="images/profile.png" alt="">
    </div>
  </div>

  <div class="container-profile">
    <img class="profile-image" src="images/profile.png" alt="">
    <p>VICTOR PONCE</p>
    <div class="container-social-logo">
      <img class="social-logo" src="images/profile.png" alt="">
      <img class="social-logo" src="images/profile.png" alt="">
    </div>
  </div>

  <div class="container-profile">
    <img class="profile-image" src="images/profile.png" alt="">
    <p>VICTOR PONCE</p>
    <div class="container-social-logo">
      <img class="social-logo" src="images/profile.png" alt="">
      <img class="social-logo" src="images/profile.png" alt="">
    </div>
  </div>

  <div class="container-profile">
    <img class="profile-image" src="images/profile.png" alt="">
    <p>VICTOR PONCE</p>
    <div class="container-social-logo">
      <img class="social-logo" src="images/profile.png" alt="">
      <img class="social-logo" src="images/profile.png" alt="">
    </div>
  </div>

  <div class="container-profile">
    <img class="profile-image" src="images/profile.png" alt="">
    <p>VICTOR PONCE</p>
    <div class="container-social-logo">
      <img class="social-logo" src="images/profile.png" alt="">
      <img class="social-logo" src="images/profile.png" alt="">
    </div>
  </div>
</div>

<div class="griddle"></div>
