<div class="single-item">

  <div class="size-images-slider">
    <img src="images/pages-comic/adri1.jpg" alt="">
  </div>

  <div class="size-images-slider">
    <img src="images/pages-comic/adri2.jpg" alt="">
  </div>

  <div class="size-images-slider">
    <img src="images/pages-comic/edu1.jpg" alt="">
  </div>

  <div class="size-images-slider">
    <img src="images/pages-comic/edu2.jpg" alt="">
  </div>

  <div class="size-images-slider">
    <img src="images/pages-comic/gabi1.jpg" alt="">
  </div>

  <div class="size-images-slider">
    <img src="images/pages-comic/gabi2.jpg" alt="">
  </div>

  <div class="size-images-slider">
    <img src="images/pages-comic/MA1.jpg" alt="">
  </div>

  <div class="size-images-slider">
    <img src="images/pages-comic/MA2.jpg" alt="">
  </div>

  <div class="size-images-slider">
    <img src="images/pages-comic/ponce1.jpg" alt="">
  </div>
  <div class="size-images-slider">
    <img src="images/pages-comic/ponce2.jpg" alt="">
  </div>
  <div class="size-images-slider">
    <img src="images/pages-comic/sama1.jpg" alt="">
  </div>
  <div class="size-images-slider">
    <img src="images/pages-comic/sama2.jpg" alt="">
  </div>

</div>
<div class="griddle"></div>
