<div class="single-item">

  <div class="size-images-slider">
    <img src="images/pages-comic/adri1.jpg" alt="">
  </div>

  <div class="size-images-slider">
    <img src="images/pages-comic/adri (2).jpg" alt="">
  </div>

  <div class="size-images-slider">
    <img src="images/pages-comic/edu (1).jpg" alt="">
  </div>

  <div class="size-images-slider">
    <img src="images/pages-comic/edu (2).jpg" alt="">
  </div>

  <div class="size-images-slider">
    <img src="images/pages-comic/gabi (1).jpg" alt="">
  </div>

  <div class="size-images-slider">
    <img src="images/pages-comic/gabi (2).jpg" alt="">
  </div>

  <div class="size-images-slider">
    <img src="images/pages-comic/MA (1).jpg" alt="">
  </div>

  <div class="size-images-slider">
    <img src="images/pages-comic/MA (2).jpg" alt="">
  </div>

  <div class="size-images-slider">
    <img src="images/pages-comic/ponce (1).jpg" alt="">
  </div>
  <div class="size-images-slider">
    <img src="images/pages-comic/ponce (2).jpg" alt="">
  </div>
  <div class="size-images-slider">
    <img src="images/pages-comic/sama (1).jpg" alt="">
  </div>
  <div class="size-images-slider">
    <img src="images/pages-comic/sama (2).jpg" alt="">
  </div>

</div>
<div class="griddle"></div>
