<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="google-site-verification" content="bZ-wJWv16ZhcEIa0bkSY7wdVmqF2RoGFKaf85YwPKrc">
	<meta name="title" content="MalFario Comic"></meta>
	<meta name="identifier" content="http://malfariocomic.com"></meta>
	<meta name="description" content="fanzine de recoge historias independientes de autores e ilustradores de comic"></meta>
	<meta name="language" scheme="ISO639-1" content="es"></meta>

  <title>MalFario Comic</title>


<!-- Facebook  -->
<meta property="og:type" content="metadata"/>
<link rel="opengraph" href="https://maldariocomic.com"/>
<link rel="canonical" href="https://maldariocomic.com" />
<meta property=”og:type” content=”articulo”/>
<meta name="facebook:card" content="summary" />
<meta property="og:title" content="Malfario Comic" />
<meta property="og:description" content="Mal Fario es una recopilación de historias de terror ochentero. Próximamente publicará su nuevo número" />
<meta property="og:url" content="https://image.ibb.co/bWWE3w/malfario.jpg" />
<meta property="og:image" content="../../cebra.png">
<meta property=”fb:admins” content="https://malfariocomic.com">
<meta property=”fb:app_id” content="https://malfariocomic.com" />

<!-- Twitter -->

<meta name="twitter:card" content="summary" />



  {% block styles %}
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bubbler+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="../../assets/font/stylesheet.css">
  <link rel="stylesheet" type="text/css" href="slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="slick/slick-theme.css" />



  <link rel="apple-touch-icon" sizes="144x144" href="../../images/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../../images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../../images/favicons/favicon-16x16.png">
  <link rel="manifest" href="../../images/favicons/manifest.json">
  <link rel="mask-icon" href="../../images/favicons/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff"> {% endblock %} {% block head_scripts %}{% endblock %}
</head>

<body>
  <div id="page" class="site">

    {% include "partials/header.html" %}
    {% include "partials/project17.html" %}
    {% include "partials/project16.html" %}
    {% include "partials/slider.html" %}
    {% include "partials/contact.html" %}

  </div>

  {% block scripts %}
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="slick/slick.min.js"></script>
  <script type="text/javascript" src="assets/js/functions.js"></script>
  {% endblock %}
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#FA6CAE",
      "text": "#faf5a2"
    },
    "button": {
      "background": "#000000",
      "text": "#faf5a2"
    }
  },
  "theme": "classic",
  "content": {
    "message": "CUIDADO UN GATO NEGRO ACABA DE CRUZAR",
    "dismiss": "QUITA!!",
  }
})});
</script>
</body>

</html>
