@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.griddle {
  background-image: url('../../../images/cebra.png');
  height: 10vh;
  background-color: black;
}

.header-video {
  display: flex;
  justify-content: center;
  flex-direction: column;
  h1 {
    text-align: center;
    font-family: 'dk_cinnabar_brushregular';
    font-size: 3rem;
    color: $purple;
  }
}
.nuevoNumero {
  cursor: pointer;
}
.into-header {
  display: flex;
  flex-direction: row;
  height:60vh;
  img {
    width: 20px;
  }
}

.mask-header {
  display: flex;
  justify-content: center;
  width: 20vh;
  animation-duration: 3s;
  animation-name: rubberBand;
  animation-iteration-count: 5, 0, infinite;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1rem;
  img {
    width: 100%;
  }
}
  .basic-menu{
    display: none;
  }

.intro-description {
  padding: 3rem;
  background-color: $purple;
  display: flex;
  justify-content: center;

  img {
    position: absolute;
    width: 80%;
    top: 20%;
  }

  p {
    width: 80%;
    height: 100%;
    font-family: 'Bubbler One';
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 500;
    text-align: center;
    color: $pink;
    font-size: 1.5rem;
    margin: 0;
    &:hover {
      color: $yellow;
    }
  }
}
@media #{$medium-up} {
  .basic-menu{
    padding: 0;
    display: flex;
    justify-content: center;
    
    a{
      font-weight: bold;
      font-family: 'Bubbler One';
      text-decoration: none;
      &:hover {
        font-weight: 900;
      }
    }

    li{
      list-style: none;
      padding: 1rem;
    }
  }
  .mask-header {
    width: 50vh;
    padding-bottom: 1.5rem;
  }
  .header-video {
    h1 {
      font-size: 5rem;

    }
  }

  .intro-description {
    p {
      font-size: 2rem;
      line-height: 2rem;;
    }
  }
}

@media #{$large-up} {
  .mask-header {
    width: 70vh;
    padding-bottom: 2rem;
  }

  .header-video {
    h1 {
      font-size: 9rem;

    }
  }

  .intro-description {
    p {
      width: 60%;
      font-size: 2.5rem;
      line-height: 3rem;;
    }
  }
}
