.griddle {
  background-image: url('../../../images/cebra.png');
  height: 10vh;
  background-color: black;
}

.header-video {

  h1 {
    font-family: 'descoloridoregular';
    font-size: 3.5rem;
    position: absolute;
    margin-left: 3rem;
    color: $purple;
  }
}

.mi-video {
  width: 100%;
}

.intro-description{
  background-color: $pink;
  img {
    width: 30%;
    top:30%;
  }
}
@media #{$medium-up} {
  .header-video {

    h1 {
      font-size: 6.25rem;
      position: absolute;
      margin-left: 3.688rem;
    }
  }

  .intro-description{
    img {
      top: 60%;
    }
  }
}
