$breakpoints: (
	small: 0,
	medium: 450px,
	large: 960px,

);

// MEDIAS QUERIES

$screen: "screen";

$small-up:   "#{$screen}";
$medium-up: "#{$screen} and (min-width: #{map-get($breakpoints, 'medium')})";
$large-up:   "#{$screen} and (min-width: #{map-get($breakpoints, 'large')})";

//COLORS
$purple: #45354D;
$pink: #DE6A87;
$yellow: #FFF8A7;

//TYPOGRAPHY
